

 .container-content{
 // 个人资料显示
    margin:138px auto;
 }
.container-content1{
    background-color: #f8f8f8;
    margin:10px auto;
    width: 74%;
    box-shadow: 10px 10px 10px -4px rgb(0,0,0,.05);
}
.container-content1{
    margin-bottom: 20px;
    margin-top: 100px;
}
.container-content2{
    background-color: #f6f6f6;
    margin:0 auto;
    width: 74%;
}
 .container-content2{
     margin-bottom: 400px;
 }
.content-text {
    color: #565656;
    width: 307px;
    height: 34px;
    border-radius: 20px;
    padding: 8px;
    font-size: 14px;
    border: none;
    outline: none;
    margin-left: 79px;
}
.content-button ,
.edit-button,
.follow-button{
    width: 67px;
    height: 34px;
    background-color: white;
    color: #828993;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border: 1px solid #dedede;
    border-radius: 24px;
    cursor: pointer;
    margin-left: 10px;
}
.container-content1 .followed{
    background-color: #80A1C5;
    color: white;
}
.content-box{
    position: relative;
}

.blog-box .content-delete{
    position: absolute;
    right:23px;
    bottom:14px;
    width: 70px;
    height: 21px;
    border: none;
    background-color: #c9a18e;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-radius: 24px;
    cursor: pointer;
    margin-left: 297px;
}
.blog-box .content-edit{
    position: absolute;
    right: 116px;
    bottom: 14px;

    width: 70px;
    height: 21px;
    border: none;
    background-color: #9aa1a6;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-radius: 24px;
    cursor: pointer;
    margin-left: 297px;
}
.content-collect .content-edit{
    right: 30px;
}
  .cancelGive{
      float: right;
      margin-right: 14px;
      width: 103px;
      height: 24px;
      background-color: #a6a8ab;
      color: white;
      font-size: 12px;
      border-radius: 24px;
      cursor: pointer;
      margin-left: 297px;
      border: none;
 }
 .blog-box .Give{
     background-color: white;
     color: #234f60;
 }
.content-id{
    display: none;
}
.edit-button,
.follow-button{
    float: right;
    width: 80px;
    margin-top: 10px;
    margin-right: 20px;
    color: #80A1C5;
}
.follow-button i.icon{
    margin-left: 0;
}
.content-edit,
.content-delete,
.edit-button:hover,
.follow-button:hover,
.content-button:hover{
    box-shadow: 5px 5px 5px -1px rgb(0,0,0,.05);
}
.container-content .container-content1 .headSculpture{
    width: 106px;
    height: 106px;
    transform:translateY(-40px);
    margin-left: 85px;
    display: inline-block;
    box-shadow:5px 5px 5px -1px rgb(0,0,0,.2);
}
.container-content .container-content1 .content-nickname,
.container-content .container-content1 .content-gender,
.container-content .container-content1 .content-age，{
    margin-bottom: 10px;
}
td .content-detail1,
td .content-detail2,
td .content-detail3{
    margin-top: 23px;
    width: 736px;
}
 tr td .content-detail3{
     padding-bottom: 17px;
 }
span{
    margin-left: 24px;
}

.username,
.email,
.fan,
.follow{
    margin-right: 38px;
}
/*文章盒子*/
.container-content .container-content2 .content-box{
    margin-bottom: 10px;
    height: 158px;
    box-shadow: 10px 10px 10px -4px rgb(0,0,0,.1);
}
 .container-content .container-content2 .blog-box .content-box:first-child{
     height: 165px;
 }
 .container-content .container-content2 .collect-article .content-box{
     height: 168px;
 }
.title-div{
    margin-top: 10px;
}
 .container-content .container-content2 .content-column,
 .container-content .container-content2 .content-collect{
     margin-bottom: 10px;
     height: 77px;
     box-shadow: 10px 10px 10px -4px rgb(0,0,0,.1);
 }
 .container-content .container-content2 .column-wen,
 .container-content .container-content2 .collect-wen{
     font-size: 12px;
 }
 .container-content .container-content2 .column-time,
 .container-content .container-content2 .collect-time{
     margin-left: 0;
 }
 .container-content .container-content2 .content-collect .collect-wen,
 .container-content .container-content2 .content-collect .collect-name,
 .container-content .container-content2 .content-collect .collect-time,
 .container-content .container-content2 .content-collect .collect-update,
 .container-content .container-content2 .content-collect .collect-delete,
 .container-content .container-content2 .content-collect .collect-zhan{
     margin-top: 10px;
     display: inline-block;
     cursor: pointer;
 }
 .container-content .container-content2 .content-column .column-wen,
 .container-content .container-content2 .content-column .column-name,
 .container-content .container-content2 .content-column .column-time,
 .container-content .container-content2 .content-column .column-update,
 .container-content .container-content2 .content-column .column-delete,
 .container-content .container-content2 .content-column .column-zhan{
     margin-top: 10px;
     display: inline-block;
     cursor: pointer;
 }
 .container-content .container-content2 .content-column .column-id,
 .container-content .container-content2 .content-collect .collect-id{
     display: none;
 }
 #textInput-column,
 #textInput{
     margin-left: 15px;
     border-radius: 10px;
     padding:3px;
     border: 0.4px solid #ccc;
     font-family: Arial,sans-serif;
     display: none;
 }
 #textInput::placeholder,
 #textInput-column::placeholder{
     font-family: Helvetica,sans-serif;
     font-size: 12px;
 }
 .modal-body-content{
     margin-top: 20px;
     margin-bottom: 20px;
     color: #29363b;
 }
 #textInput:focus,
 #textInput-column:focus{
     outline: 1px solid #ccc;
 }
 .confirm,
 .confirm-column{
     border: none;
     border-radius: 10px;
     display: none;
 }
 .container-content .container-content2 .content-column .column-name,
 .container-content .container-content2 .content-collect .collect-name{
     font-size: 16px;
 }
 .container-content .container-content2 .content-column .column-update,
 .container-content .container-content2 .content-collect .collect-update{
     margin-left: 200px;
 }
 .container-content .container-content2 .content-box .content-image{
    display: inline-block;
    height: 158px;
    width: 300px;
    object-fit: cover;
}
.fan-avatar,
.blogger-avatar{
    margin-left: 28px;
    margin-top: 4px;
    width: 60px;
    border-radius: 30px;
    height: 60px;
}
.content-fan tr td .fan-id,
.content-blogger tr td .blogger-id{
    display: none;
}
 .content-fan ,
 .content-blogger {
     margin-bottom: 10px; /* 可选：为了增加表格之间的间距 */
 }

 .content-fan table ,
 .content-blogger table {
     width: 100%; /* 表格占满容器宽度 */
 }

 .content-fan .fan-follow ,
 .content-blogger .blogger-follow {
     float: left;
     margin-top: 30px;
     border: 1px solid #ccc;
     border-radius: 13px;
     display: inline-block;
     height: 26px;
     width: 58px;
     line-height: 26px;
     justify-content: center;
     cursor: pointer;
 }
 .content-fan .fan-follow i.icon,
 .content-blogger .blogger-follow i.icon{
     margin-left: 3px;
 }
 .content-fan td ,
 .content-blogger td {
     text-align: left; /* 其余内容向左对齐靠拢 */
 }
 .content-fan td ,
 .content-blogger td {
     vertical-align: top; /* 图片和内容向上对齐 */
 }

 .content-fan img, .fan-name,
 .content-blogger img, .blogger-name{
     display: inline-block;
     vertical-align: top;
     margin-top: 14px;
 }
.content-fan tr .center,
.content-blogger tr .center{
    width: 400px;
}
 .content-fan  td:first-child ,
 .content-blogger  td:first-child {
     width: 79px; /* 设置图片单元格的固定宽度 */
 }
 .cccBackground{
     background-color: #ccc;
     color: white;
     padding-left: 9px;
 }
select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 135px;
    margin: 10px 10px 10px 35px;
}

select:focus {
    outline: none;
    border-color: #b3c0ce;
}

select option {
    padding: 8px;
    font-size: 16px;
}
tr td h3{
    margin: 0 0 0 20px;
    padding: 0;

}
tr td .content-span{
    display: inline-block;
    padding: 20px;
}
.nav{
    background-color: #fcfcfc;
    height:53px;
    color: #4c4c4c;

    border-bottom:1px solid #edeef0;
    line-height: 53px;
}
.nav .ordinary{
    border-top: 3px solid #89e1f1;
    /*要转换为行内块元素*/
    display:inline-block;
    height:53px;
    font-size:14px;
    color: #4c4c4c;
    text-decoration: none;
    padding:0 52px;
    cursor: pointer;
}
.nav .active{
    display:inline-block;
    height:53px;
    font-size:14px;
    color: #4c4c4c;
    text-decoration: none;
    padding:0 53px;
    border-top: 3px solid #ffc29c;
    background-color: #f1f1f1;
    cursor: pointer;
}
.nav span{
    margin-left: 0;
}
.nav span:hover{
    background-color: #eeeeee;
}
