.dropdown
{
    position: relative;
    display: inline-block;
}
.dropdown button
{
    width:100px;
    height:30px;
    outline:none;
    border:1px solid #ccc;
    background:#e7e7e1;
    color:#000;
    border-radius:10px;
}
.edit-box{
    width: 55%;
    margin: 0 auto;
}
.dropdown-content
{
    z-index:2;
    display: none;
    position: absolute;
    min-width: 200px;
    max-height: 200px;
    overflow-y: auto;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 5px;
}

.content-title{
    margin-top: 50px;
    padding: 35px 20px 21px 20px;
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    color: #414141;
    font-size: 17px;
}

.content-title::placeholder {
    color: #ccc; /* 设置 placeholder 文本颜色为灰色 (#999) */
}
.dropdown:hover .dropdown-content
{
    display: block;
}

.dropdown-content label
{
    display: block;
    margin-bottom: 5px;
}
