*{
    margin: 0;
    padding: 0;
}
.logoHead {
    width: 100px;
    height: 61px;
}
.logo{
    height: 100px;
    width: 200px;
}
.logo .logoImg {
    width: 43%;
}
.logo .logoCh{
    font-size: 20px;
    color: #1060ad;
    font-family: '宋体';
    font-weight: 600;
}
.float {
    float: left;
}
body{
    /* 径向渐变 */
    background: linear-gradient(to right, #F1F8FF, #CBDFF3);
}
.title{
    color: #5f6f7c;
    text-align: center;
    margin: 60px 156px 40px 150px;
}
.head {
    background-color: white;
    margin:100px auto;
    width: 500px;
    height: 600px;
    border: 1px #ccc solid;
    border-radius: 50px;
    box-shadow: 10px 10px 10px -4px rgb(0,0,0,.3);
}
.box{
    position: relative;
    width: 400px;
    border-bottom:1px solid #ccc;
    margin-bottom: 26px;
    margin-left:48px;
}
.boxPas input,
.boxAcc input{
    padding-left: 50px;
    font-size: 15px;
    width: 392px;
    height: 35px;
    border: 0;
    font-family: "楷体";
    border-radius: 5px;
}
#password{
    width: 313px;
}
.boxAcc .hao{
    position: absolute;
    top: 5px;
    left: 7px;
    width: 24px;
}
.boxPas .pas{
    position: absolute;
    top: 6px;
    left: 7px;
    width: 24px;
}
.boxPas .png{
    position: absolute;
    top: 7px;
    right: 76px;
    width: 24px;
}
.redDiv {
    width: 430px;
    text-align: right;
    margin-top: 10px;
}
.redDiv .red {
    color: #af0909;
}
div .btn{
    margin-top: 32px;
}
.Register-Box button ,
.Login-Box button{
    margin-top: 15px;
    margin-left: 46px;
    width: 400px;
    height: 35px;
    background-color: #B8CDE4;
    color:#ffffff;
    border:none;
    border-radius: 4px;
    /*鼠标显示小手*/
    cursor:pointer;
    box-shadow: 10px 10px 10px -4px rgb(0,0,0,.3);
}
.Register-Box button:hover ,
.Login-Box button:hover{
    background-color: #91AFD0;
}
div button a{
    color: white;
    text-decoration: none;
}
.boxPas .obtainCode{
    margin-top: 8px;
    border: none;
    background-color: transparent;
    float: right;
    cursor: pointer;
    font-size:13px;
    color: #60a9d0;
    display: inline;
    margin-right: 3px;
}

 .toast {
     position: fixed;
     top: 50px;
     left: 50%;
     transform: translateX(-50%);
     color: orangered;
     min-width: 200px;
 }
