<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.Mapper">
    <select id="selectArticle" resultType="bean.Articles">
        select * from articles
    </select>
    <select id="selectArticlesUserIdByArticleId" resultType="bean.Articles">
        select * from articles WHERE id=#{id}
    </select>
    <select id="selectArticlesUserIdByArticleIdAndState" resultType="bean.Articles">
        select * from articles WHERE id=#{id} AND state='发布'
    </select>
    <select id="likeSelectArticles" resultType="bean.Articles" parameterType="map">
        SELECT *,
        (LENGTH(title) - LENGTH(REPLACE(title, #{content}, ''))) AS title_match_count,
        (LENGTH(plainText) - LENGTH(REPLACE(plainText, #{content}, ''))) AS plainText_match_count
        FROM articles
        WHERE (title LIKE CONCAT('%', #{content}, '%') OR plainText LIKE CONCAT('%', #{content}, '%')) AND state='发布'
        ORDER BY (title_match_count + plainText_match_count) DESC;
    </select>
    <select id="selectArticlesByUser_idDetail" resultType="bean.Articles">
        select * from articles WHERE user_id=#{user_id}
    </select>
    <update id="updateArticleGiveLike" parameterType="map">
        UPDATE articles SET give=#{give} WHERE id=#{id}
    </update>
    <update id="updateArticleGiveView" parameterType="map">
        UPDATE articles SET view=#{view} WHERE id=#{id}
    </update>
    <update id="updateArticleTest" parameterType="map">
        UPDATE articles SET update_at=#{update_at},title=#{title},textarea=#{textarea},plainText=#{plainText},htmlText=#{htmlText},original=#{original},avatar=#{avatar},state=#{state} WHERE id=#{id}
    </update>
    <select id="selectArticleById" resultType="bean.Articles">
        select * from articles where id=#{id}
    </select>
    <insert id="insertArticle" parameterType="bean.Articles">
        INSERT INTO articles VALUES (#{id},#{user_id},#{title},#{textarea},#{htmlText},#{plainText},#{original},#{avatar},#{state},#{view},#{give},#{collect},#{release_at},#{update_at})
    </insert>
</mapper>