<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.Mapper">
    <select id="selectCollect" resultType="bean.Collects">
        select * from collects
    </select>
    <select id="selectCollectByCollect_id" resultType="bean.Collects" parameterType="map">
        select * from collects WHERE id=#{collect_id}
    </select>
    <select id="selectCollectsByUserId" resultType="bean.Collects">
        select * from collects WHERE user_id=#{user_id}
    </select>
    <select id="selectCollectsByUserIdAndCollectName" resultType="bean.Collects">
        select * from collects WHERE user_id=#{user_id} AND collectName=#{collectName}
    </select>
    <select id="selectCollectsByCollectNameAndUserId" resultType="bean.Collects">
        select * from collects WHERE collectName=#{collectName} AND user_id=#{user_id}
    </select>
    <insert id="insertCollectCollectName" parameterType="bean.Collects">
        INSERT INTO collects (user_id,collectName,create_at) VALUES (#{user_id},#{collectName},#{create_at})
    </insert>
    <delete id="DeleteCollectsByCollect_id" parameterType="map">
        DELETE FROM collects WHERE id=#{id}
    </delete>
    <update id="updateCollectsByCollectNameAndCollect_id" parameterType="bean.User">
        UPDATE collects SET collectName=#{collectName} WHERE id=#{id}
    </update>
</mapper>