<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.Mapper">
    <select id="selectLabel" resultType="bean.Labels">
        select * from labels
    </select>
    <select id="selectLabelByLabelName" resultType="bean.Labels" parameterType="map">
        select * FROM labels WHERE labelName=#{labelName}
    </select>
    <select id="selectLabelsByArticleId" resultType="bean.Labels" parameterType="map">
        SELECT * FROM labels WHERE id=#{id}
    </select>
    <insert id="insertLabel" parameterType="map">
        INSERT INTO labels (labelName) VALUES (#{labelName})
    </insert>
</mapper>
