<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.Mapper">
    <select id="selectAll" resultType="bean.User">
        SELECT * FROM user
    </select>
    <select id="selectById" resultType="bean.User" parameterType="java.lang.Integer">
        SELECT * FROM user WHERE id=#{id}
    </select>
    <select id="selectByUsernameAndPassword" resultType="bean.User" parameterType="map">
        SELECT * FROM user WHERE username=#{username} and password=#{password}
    </select>
    <insert id="insert">
        INSERT INTO user VALUES (#{id},#{username},#{password},#{email},#{nickname},#{gender},#{phone},#{birthday},#{picture},#{profile})
    </insert>
    <update id="update" parameterType="bean.User">
        UPDATE user SET username=#{username},password=#{password},email=#{email},nickname=#{nickname},gender=#{gender},phone=#{phone},birthday=#{birthday},picture=#{picture},profile=#{profile} WHERE id=#{id}
    </update>
    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM user WHERE id=#{id}
    </delete>
</mapper>