body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #51677e;
}
body::before {
    content: "";
    background-image: url("image/leaves.webp");
    opacity: 0.3; /* 设置透明度 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header-box {
    background-color: #475360;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.left{
    margin-right: 13px;
    margin-top: 5px;
    font-size: 17px;
}
.header-box nav ul li .sculpture{
    width: 36px;
    position: absolute;
    top:8px;
    right:27px;
}
.header-box nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.header-box nav ul li {
    display: inline-block;
    margin-left: 24px;
}

.header-box nav ul .left {
    float: left;
    font-size: 17px;
}

.header-box nav ul li a {
    color: #fff;
    text-decoration: none;
}

.header-box nav ul li a:hover {
    color: #91AFD0;
}
.banner {
    padding-top: 30px;
    background-image: url('image/Main2.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}
h2{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) ;
}
p{
    font-size: 16px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) ;
}
.banner div{
    flex: 0 0 100%;
}
.sculpture {
    padding-right: 5px;
    float: right;
    width: 13%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.right{
    float: right;
    margin-right: 88px;
}
.left-section {
    flex: 2;
    padding: 20px;
}

.left-section h3 {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.articles-box{
    height: 732px;
}
.articles {
    display: grid;
    grid-gap: 20px;

    align-items: start;
}
/*分页元素*/
.pagination-link{
    background-color: #cccccc;
    border-radius: 10px;
    width: 20px;
}
.pageUp, .pageDown{
    cursor: pointer;
}
.pageUp:hover, .pageDown:hover{
    background-color: #f5f4f4;
    color: #424242;
    border-radius: 5px;
}
.pagination .active{
    background-color: #ececec;
}
.article {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
}

.article h4 {
    margin-top: 0;
}

.article p {
    color: #666;
}

.article a {
    color: #333;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    display: inline-block;
    margin-right: 10px;
    color: #333;
    text-decoration: none;
}

.pagination .prev,
.pagination .next {
    font-weight: bold;
}

.right-section {
    flex: 1;
    padding: 20px;
}

.box {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
.box li{
    display: inline-block;
    margin-right: 10px;
}
.labelList li{
    margin-top: 8px;
    margin-left: 15px;
    font-size: 16px;
}
.lis{
    cursor: pointer;
}
.box h3 {
    margin-top: 0;
}

.box ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.box ul li {
    margin-bottom: 10px;
}
.labelList{
    margin-left: 20px;
    display: inline-block;
}
.userList li {
    display: block;
    margin-left: 11px;
    margin-bottom: 10px;
    margin-top: 25px;
    font-size: 16px;
    cursor: pointer;
}

footer{
    color: white;
    background-color: #475360;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#slider-body {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.slider {
    width: 330px;
    height: 200px;
    overflow: hidden;
    position: relative;
    display: inline-flex;
    border-radius: 10px 10px 10px 10px; /* 调整圆角半径大小 */
}

.slider-content {
    display: flex;
    width: fit-content;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}
.content-id{
    position :absolute;
    top :153px;
display :none;
}
.slider-item {
    width: 1000px;
    height: 388.88px;
    flex-shrink: 0;
}

.slider-item img {
    width: 350px;
    max-height: 100%;
    object-fit: cover;

}